.container {
    width: 60%;
    margin: 20px auto;

    display: flex;
    gap: 4px;
    
}

.leftBar {
    width: 35%;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rightBar {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .leftBar {
        width: 95%;
        gap: 2px;
    }

    .rightBar {
        width: 95%;
        gap: 2px;
    }
}



