.container {
    width: 100%;
    background-color: var(--main-bgc);
    border-radius: 3px;



    display: flex;
    align-items: center;
    padding: 20px 0;


}

.image {
    background-image: url(../../../../img/avatar.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin-left: 20px;
    
    
}