.container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    border-radius: 5px;
    box-shadow: var(--main-box-shadow);
    margin: 20px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 2px;

    padding: 20px 0;


}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-bottom-color: var(--main-bgc);
}

.container a {
    font-size: var(--font-size-link);
    font-family: 'Quicksand';
    
    

}

.active {
    color: var(--main-bgc);
    border-bottom: 2px solid;
    border-bottom-color: var(--main-bgc);
}

.content {
    width: 100%;
    height: 75vh;
    display: flex; 
}

@media screen and (max-device-width: 500px) {
    .container {
        width: 95%;

    }
}