.container {
    width: 100%;
    background-color: var(--second-bgc);
    border-radius: 3px;
    box-shadow: var(--main-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}