.button {
    width: 70%;
    font-family: 'Quicksand';
    font-weight: 700;
    color: rgb(82, 100, 174);
    background-color: rgba(82, 100, 174,0);
    font-size: var(--font-size-p);
    padding: 10px 20px;
    border: 1px solid #5264AE;
    border-radius: 5px;
    transition: all 0.2s;

    cursor: pointer;
    
}

.button:hover {
    background-color: rgba(82, 100, 174,0.1);
}

